
* {
  font-family: DIN Next W01 Regular, Helvetica, Arial, sans-serif;
}
html, body {
  height:100vh;
} 
.root {
  height: 100vh;
}

html{
  background: url(https://lumiere-a.akamaihd.net/v1/images/background-stars-desktop_00cbf8a9.jpeg?region=0%2C0%2C2048%2C1600) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

main {
  width: 100%;
  height: 100vh;
  background-color: black;
  background-image: url(https://lumiere-a.akamaihd.net/v1/images/background-stars-desktop_00cbf8a9.jpeg?region=0%2C0%2C2048%2C1600);
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-light {
  background: rgb(49,52,52) !important;
  background: radial-gradient(circle, rgba(49,52,52,1) 40%, rgba(3,0,0,1) 91%) !important;
}

.fa-jedi {
  font-size: 85px;
  color: grey;
}

ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.gradient {
  background: rgb(63,65,65) !important;
  background: linear-gradient(0deg, rgba(63,65,65,1) 66%, rgba(166,11,11,1) 79%) !important;
}

.jedi {
  width: 43%;
}

.darth {
  width: 14%;
}
