.title {
  color: grey;
  font-weight: 600;
}

.show {
  color: grey;
  font-weight: 500;
}

.content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.bg-light {
  background: rgb(49,52,52) !important;
  background: radial-gradient(circle, rgba(49,52,52,1) 40%, rgba(3,0,0,1) 91%) !important;
}

.link {
  text-decoration: none;
}